body
{
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #292929;

	.intro // <div>
	{
		background-color: #292929;
		color: rgb(255, 255, 255);
		width: 70%;
		padding: 0 15% 30px 15%;
	}
}