body{
    margin: 0;
}
footer{
    background-color: #292929;
    min-height: 200px;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
    .footer-info{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .footer-info-social{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
}