@import 'assets/scss/header';
@import 'assets/scss/footer';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
/* START NAV BAR */

.index-banner {
  // background-image: url('assets/images/banner-top.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  .banner-titles {
    padding-top: 150px;
    padding-left: 6%;
  }
}

.banner-icon {
  background-color: white;

  .index-hachures {
    width: 100%;
    min-height: 60px;
    max-height: 150px;
    transform: translateY(-50%);
  }
  .block-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.icon {
  .img-box-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      margin-top: 0;
    }
  }
}

.our-resto {
  background: url('assets/images/hachures-blanches.png') no-repeat 0% -5%,
    url('assets/images/hachure-blanches-top.png') no-repeat bottom,
    linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)),
    url('assets/images/burgerparty.png');
  padding: 7% 0 5% 0;
  padding-left: 6%;
  padding-right: 6%;
  .our-resto-title {
    text-align: center;
  }

  .resto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .img-box-resto {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .resto-text {
      margin-top: -7px;
      background-color: white;
      width: 100%;
      text-align: center;
    }
  }
}

// VUE MOBILE*******************************************************************
@media screen and (max-width: 699px) {
  .icon {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      text-align: center;
    }
    p {
      display: none;
    }
  }
  .text-chef {
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
  }
}
.img-box-chef {
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
  }
}
// VUE TABLETTE*******************************************************************
@media screen and (min-width: 700px) and (max-width: 1029px) {
  .icon {
    width: 100%;
    padding-left: 25%;
    padding-right: 30%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

    img {
      margin-right: 25px;
    }
    .icon-info {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
.chef-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text-chef {
    width: 80%;
    transform: translateY(-50%);
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 12px 12px 49px -27px rgba(186, 182, 186, 1);
    -moz-box-shadow: 12px 12px 49px -27px rgba(186, 182, 186, 1);
    box-shadow: 12px 12px 49px -27px rgba(186, 182, 186, 1);
  }
}
// VUE DESKTOP*******************************************************************
@media screen and (min-width: 1030px) {
  .icon {
    width: 28%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    transform: translateY(-50%);
    border-radius: 10%;
    -webkit-box-shadow: 12px 12px 49px -27px rgba(186, 182, 186, 1);
    -moz-box-shadow: 12px 12px 49px -27px rgba(186, 182, 186, 1);
    box-shadow: 12px 12px 49px -27px rgba(186, 182, 186, 1);
    img {
      margin-top: 50px;
    }
    .icon-info {
      display: flex;
      flex-direction: column;
      text-align: center;
      p {
        padding: 10px;
      }
    }
  }
  .chef-info {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    .text-chef {
      width: 40%;
      padding: 40px;
      background-color: white;
      transform: translateX(-30%);
      -webkit-box-shadow: 12px 12px 49px -27px rgba(186, 182, 186, 1);
      -moz-box-shadow: 12px 12px 49px -27px rgba(186, 182, 186, 1);
      box-shadow: 12px 12px 49px -27px rgba(186, 182, 186, 1);
    }
  }
  .img-box-chef {
    width: 70%;

    img {
      width: 100%;
      height: 800px;
      object-fit: cover;
    }
  }
}
