footer {
  background-color: #292929;
  color: #fff;
  min-height: 200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .footer-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer-info-text {
    margin-top: 20px;
  }
  .footer-info-social {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    a {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 20px;
      }
    }
    .footer-fb {
      background-color: #3b5998;
    }
    .footer-twitter {
      background-color: #1da1f2;
    }
    .footer-insta {
      background-color: #c13584;
    }
    .footer-linkedin {
      background-color: #2867b2;
    }
  }
  .footer-contact-hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer-days-open {
      display: flex;
      align-items: center;
      .footer-hour {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
      .footer-days-hour {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
      }
    }
  }
}
